body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    background-image: url(photoes/back1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    background-color: rgba(204, 0, 0, 0.51);
    padding: 20px;
    text-align: center;
}
.course {
    background-color: #222;
    margin: 10px;
    padding: 15px;
    width: 500px;
    height: 500px;
    border-radius: 10px;
}
footer {
    background-color: rgba(204, 0, 0, 0.51);
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}
a {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

.a1 {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.a1:hover {
    text-decoration: none;
}

.course-card {

    border: 2px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 500px;
    margin: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.course-card {

    border: 2px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 470px;
    margin: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.course-image {
    width: 100%;
    height: 62%;
}
.course-image1 {
    width: 100%;
    height: 60%;
}


.course-details {
    padding: 15px;
}

.course-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.course-description {
    font-size: 16px;
    margin: 10px 0;
}

.course-price {
    font-size: 18px;
    color: green;
}

.enroll-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.enroll-button:hover {
    background-color: #218838;
}
.section{
    display: flex;
    flex-direction: row;
}
.main1{
    margin-left: 10px;
    width: 30%;
    height: auto;
}
.main2{
    width: 36%;
    height: 345px;
}
.main3{
    width: 32%;
    height: 345px;
}
.home{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
p{
    background-color: #000000a4;
}

span{
    background-color: #ffdf0c;
    color: #000;
    font-size: 40px;
}
.otzivh{
    background-color: #26ff00a4;
}
.otzivspan{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.otziv{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 280px) and (max-width: 1023px) {

    body{
        background-image: none;
        background-color: black;
    }
    .photoes{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .main1{
        margin-left:  0px;
        width: 100%;
        height: auto;
    }
    .main2{
        width: 100%;
        height: auto;
    }
    .main3{
        width: 100%;
        height: auto;
    }

    .otzivspan{
        display: flex;
        flex-direction: column;
        align-items: initial;
    }

}