
body{  
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 0px 54px;
}
header img{
    width: 47px;
    height: 50px;
    margin: 23px 0px;
}
header>div{
    display: flex;    
    justify-content:space-between;
    flex-direction: row;
}
.mobile{
    display: none;
}
.header_nav{
    margin: -1px 0px;
    width: 31%;
}
.header_nav_p{
    display: flex;
    flex-direction: column;
    align-items: start;
}
header p{
    line-height: 0.01vh;

    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 200;
}
h1{

    font-size: 72px;
    font-family: 'Hellvetic';
    font-weight: 400;
}
h2{

    font-size: 48px;
    font-family: 'Hellvetic';
    font-weight: 400;
}
h3{

    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 400;
}

a, h1, p, h2, h3{
    color: #212529;
}
a{

    font-size: 18px;
    font-family: 'Roboto';
}
.img_1{
    height: 809px;
    width: 678px;
}
.img_2{
    height: 493px;
    width: 329px;
}

.flexd_row{
    display: flex;
    flex-direction: row;
    align-items: end;
}
.flexd_row1{
    display: flex;
    flex-direction: row;
}
.flexd_column{
    display: flex;
    flex-direction: column;
}

.align_items_end{
    display: flex;
    
}
.down{
    margin-top: 202px;
}
.space{
    display: flex;
    justify-content: space-between;
}
main>div>a{
    text-decoration: underline;
    margin-bottom: 60px;
}
main{
    margin: 0px 16px;
}
.size_20{
    font-size: 20px;
    font-family: 'Roboto';
}
.size_16{
    font-size: 20px;
    font-family: 'Roboto';
}

.otziv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.otzivdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: solid 1px #000000;
    text-align: center;
}
.otzivimg{
    margin-top: 40px;
    height: 40px;
    width: 40px;
}

.otzivp{
    font: 16px 'Hellvetic';
    margin: 20px 46px;
}

footer{
    display: flex;
    flex-direction: column;
}

.footer_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 120px;
}
.footer_div>img{
    width: 562px;
    height: 566px;
}
.footer_div>div{
    margin-right: 136px;
    display: flex;
    flex-direction: column;
}
.footer_div>div>div>p{
    color:#212529;
    font: 16px 'Roboto';
}
button{
    background-color: #212529;
    width: 176px;
    height: 46px;
}
button>a{
    color:#fff;
    font-size: 16px;
    font-family: 'Roboto';
}
.GGWP{
    margin-top: 40px;
    height: 36px;
    width: 250px;
}

.footer_down_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
}

.footer_down_div_.flexd_row_p{
    margin: 20px;
}


.footer_down_div_p{
    font: 18px 'Roboto';
}


@font-face {
    font-family: Roboto;
    src: url(./font/Roboto-Medium.ttf);
}
@font-face {
    font-family: Hellvetic;
    src: url(./font/helvetica_light.otf);
}

@media screen and (max-width:767px) {
    .not_mobile{
        display: none;
    }
    .mobile{
        display: flex;
    }
    .header_nav{
        display: none;
    }
    h1{
        font-size: 32px;
    }
    a{
        font-size: 16px;
    }
    main>div>a{
        margin-bottom:30px;
    }
    .img_2{
        display: none;
    }
    .img_1{
        width: 343px;
        height: 261px;

    }
    .flexd_row{
        flex-direction: column;
    }
    .flexd_row1{
        flex-direction: column;
    }
    .align_items_end{
        align-items: start;
    }
    .otziv{
        flex-direction: column;
    }
    .otzivdiv{
        flex-direction: column;
        margin: 8px 0px;
    }
    h2{
        font-size: 28px;
    }
    .size_16{
        font-size: 16px;
    }
    .footer_div{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
    }
    .footer_div>div{
        margin-right: 0px;
    }
    .footer_down_div{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer_down_div>.flexd_row{
        flex-direction: row;
    }
    .footer_down_div p{
        text-align: center;
    }
    .otzivp{
        margin: 1vh 1vw;
    }
    .otzivimg{
        margin: 1vh 1vw;
    }

}