 html, body {
            height: 100%;
            margin: 0;
        }

        @font-face {
            font-family: Rubik;
            src: url('Rubik-Italic.ttf');
        }

        body {
            font-family: Pixy;
            background-image: url('background2.png');
            display: flex;
            flex-direction: column;
        }

        section{
            color: white;

        }

        .maintext{
            font-size: 30px;
            flex: 1;
        }

        .content {
            text-align: center;
            flex: 1;
            font-size: 40px;
        }

        nav { margin: 20px; color: red; text-align: center; font-size: 30px;
            background: linear-gradient(to right, rgb(255, 0, 179), rgb(238, 255, 0));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;}
        a { color: #e5ff00; text-decoration: none;}
        
        footer {
            background-color: #001f3f;
            color: white;
            text-align: center;
            padding: 10px 0;
        }    
        img{
            max-width: 8%

        }

        .content {
            background: linear-gradient(to right, rgb(217, 255, 0) , rgb(9, 255, 0) 30%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: left;
            font-size: 20px;
        }


            .mainpng{
                text-align: right;
            }
            @media screen and (min-width: 280px) and (max-width: 767px) {

                .maintext{
                    flex: 1;
                    font-size: 25px;
                }
                
                .content {
                    flex: 1;
                    font-size: 20px;
                }
            
                section{
                    
                    color: white;
                
                }
            
                img{
                    display: flex;
                    flex-direction: row;
                    max-width: 25%
                
                }
            
                nav { margin: 20px; color: red; text-align: center; font-size: 25px;
                    background: linear-gradient(to right, rgb(255, 0, 179), rgb(238, 255, 0));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;}
                a { color: #e5ff00; text-decoration: none;}
                .mainpng{
                    text-align: center;
                }
            
            }